@import './colors';
@import './transitions';
@import './observer';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Istok Web", sans-serif;
}

.content-grid {
    --padding-inline: 1rem;
    --content-max-width: 1000px;
    --breakout-max-width: 1400px;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
            var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

.content-grid > .full-width {
    grid-column: full-width;
}



.next-button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    

    &:hover{
        svg {
            transform: translateX(0) scaleX(1.2);
        }   

        span {
            letter-spacing: .08rem;
        }

        .hover-underline-animation:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    &:active {
        svg {
            transform: scale(0.9);
        }
    }

    span {
        padding-bottom: .5rem;
        letter-spacing: .1rem;
        transition: all 300ms ease-in-out;
        font-size: 1rem;
        padding-right: 15px;
        text-transform: uppercase;
    }

    svg {
        transform: translateX(-8px);
        transition: all 0.3s ease;
        margin-top: .2rem;
    }

    .hover-underline-animation {
        position: relative;
        color: #F8F8FF;
        padding-bottom: .5rem;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #F8F8FF;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
    }
}